* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins, sans-serif;

}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url('images/BG1.jpg') no-repeat;
    
    background-size: cover;
    background-position: center;

}
.wrapper{
    width: 420px;
    background: url('images/logo.png') no-repeat;
    border: 2px solid black;
    color: white;
    border-radius: 16px;
    padding: 30px 40px;
    backdrop-filter: blur(5px);

}

.wrapper h1{    /* Login */
    font-size: 36px;
    text-align: center;
}


.wrapper .input-box{
    position: relative;
    width: 100%;
    height: 50%;
    margin: 30px 0;


}

.input-box input {
    width: 100%;
    height: 100%;
    background: transparent;

    outline: none;
    border: 2xp solid rgba(255, 255, 255, .2);
    border-radius: 40px;
    font-size: 16px;
    color: white;
    padding: 20px 45px 20px 20px;
    border: 2px solid black ;


}
.input-box input::placeholder{
    color:white;
}

.wrapper .remember-forgot {
    display: flex;
    justify-content: space-between;
    font-size: 14.5px;
    margin: 30px 0;

}
.remember-forgot label input{
    accent-color: white;
    margin-left: auto;


}

.remember-forgot a {
    color: white;
    text-decoration: none;
}

.remember-forgot a:hover{
    text-decoration: underline;
}

.wrapper .btn{
    width: 100%;
    height: 45px;
    background: none;
    border: none;
    outline: none;
    border-radius: 40px;
    cursor: pointer;
    font-weight: 600;
    text-align: center;
}

.wrapper .register-link{
    font-size: 14.5px;
    text-align: center;
    margin: 20px 0 15px;
}
.register-link p a{
    color: white;
    text-decoration: none;
    font-weight: 600;
}

.register-link p a:hover{
    text-decoration: underline;
}

.wrapper a{
    font-size: 14.5px;
    color: white;
}